.wrapper {
    margin: 5px;
}

h1 {
    text-align: center;
}

.example-one {
    height: 150px;
    width: 50%;
    background-color: cornflowerblue;
}

.example-two {
    margin-top: 5px;
    border: solid 2px limegreen;
}

.example-two img {
    width: 400px;
    height: 400px;
}